* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
<<<<<<< HEAD:static/css/common.css
body {
    font-size:0.22rem;
=======
html body {
    font-size:0.12rem;
>>>>>>> fdc3bf365503d5f1599ff1abc4d842dff21d1bfd:static/css/common.css
    font-family: "Microsoft YaHei", Arial, sans-serif;
}
a {
    color: #727272;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul,ol,li {
    list-style: none;
}
input {
    border: none;
    outline: none;
    -webkit-appearance: none;
}
img{
    border:0;
}
.home{
    width: 100%;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}

